<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href=../static/css/style.css>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="wrapper">
        <div class="row" id="header">
            <div class="col-12">
                <h1 class="logo">To-Do App</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav id="nav">
                    <ul class="navbar">
                        <li style="
                            padding: 12px;
                            background:  white;
                            border-radius: 18px;
                        ">
                            <a href="#" style="text-decoration: none;color: cornflowerblue;">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="welcome">Login</h2>
                <form class="sign">
                    <div class="box-section">
                        <div class="form-section">
                            <label class="holder">Email</label>
                            <br>
                            <input type="email" class="first" placeholder="you@example.org">
                        </div>
                    </div>
                    <br>
                    <div class="box-section">
                        <div class="form-section">
                            <label class="holder">Password</label>
                            <br>
                            <input type="password" placeholder="********" class="first">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>