<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List | Create</title>
    <link rel="stylesheet" href=../static/css/style.css>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="wrapper">
        <div class="row" id="header">
            <div class="col-12">
                <h1 class="logo">To-Do App</h1>
            </div>
        </div>
        <div class="row" id="niv">
            <div class="col-12">
                <nav id="nav">
                    <ul class="navbar">
                        <li class="nav-item"><a href="index.html" class="nav-links">Home</a></li>
                        <li class="nav-item"><a href="create.html" class="nav-links">Create</a></li>
                        <li class="nav-item"><a href="#" class="nav-links">Profile</a></li>
                        <li style="
                            padding: 12px;
                            background:  white;
                            border-radius: 18px;
                        ">
                            <a class="nav-links" href="login.html" style="text-decoration: none;color: cornflowerblue;">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row prof">
            <div class="col-9">
                <div class="desc">
                    <div id="prof-pic">
                            <img src="../static/img/prof-page.jpg" style="border-radius: 50%;">
                    </div>
                    <div class="info">
                        <h4>Makabugo Fahad</h4>
                        <p>Lives in Kampala<br>Software Leads</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h4>Stat</h4>
                <hr>
                <p class="stat">To Do Lists <span class="number" style="padding-left: 114px">3</span></p>
                <p class="stat">Tasks<span class="number" style="padding-left: 155px">50</span></p>
            </div>
        </div>
    </div>
</body>
</html>